body{
  background: url('https://catherineasquithgallery.com/uploads/posts/2021-02/1614441349_54-p-temnii-fon-dlya-chata-66.jpg');
  background-size: cover;
  font-size: 40px;
}
main{
  background: #202234;

  width: 500px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

div{
  display: inline-block;
  color: aqua;
}